<%= simple_form_for([@page, @page.ranks.build]) do |f| %>
<label>
  <%= @page.title %>
  Rank
</label>
<div id="rank-form"></div>
<br>
<%= f.button :submit %>
<% end %>

<script>
$('#rank-form').raty({path: '/assets/', scoreName: 'rank[rating]'});
</script>
