
  <%= simple_form_for @page do |f| %>
  <font color=""><%= f.input :title, label: "Title" %></font>
  <font color=""><%= f.input :body, label: "Description" %></font>
  <%= f.button :submit %>
<% end %>


</div>
