<div class="tile">
  <center>
<p> Log in and add articles with pageid 1,2,3,4,5  to display the articles </p>
    <% @pages.each do |page| %>
    <div class="tile">
      <a href="/pages/<%= page.id %>">
        <%= image_tag page.page_image.url(:page_index) %>
      </a>
      </div>
    <% end %>

  </center>
</div>
