<div class="tile">
  <center>

    <% @pages.each do |page| %>
      <a href="/pages/<%= page.id %>">
        <%= image_tag page.page_image.url(:page_index) %>
      </a>
    <% end %>

  </center>
</div>
